.admin-layout-container {
  display: flex;
  height: 100vh;
  max-width: 100vw;

  .admin-layout-right-container {
    width: calc(100% - 300px);

    .admin-page-container {
      max-height: calc(100vh - 60px);
      overflow-y: auto;
    }
  }
  .full-admin-layout {
    width: 100%;
  }
}
