@import "../../../styles/variables";

.explore-properties-by-cities-container {
  padding-inline: 40px;
  .heading {
    font-size: 26px;
    margin-bottom: 3px;
  }
  .tagline {
    font-weight: 500;
    color: $color10;
  }
  .properties-cities-cards-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 560px) {
      flex-direction: column;
    }

    .single-property-cities-card {
      height: 130px;
      width: fit-content;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 560px) {
        width: 100%;
        margin-bottom: 20px;
      }
      .content-container {
        text-align: center;
        background-color: $color3;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5 {
          font-size: 20px;
          margin-bottom: 0px;
          white-space: nowrap;
        }
        p {
          font-size: 17px;
          margin-bottom: 0;
          white-space: nowrap;
        }
      }
    }
  }
}
