@import "../../styles//variables";

.contact-us-form-main-container {
  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
  }
  .contact-us-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .form-input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-weight: 600;
        font-size: 14px;
      }
      input,
      textarea {
        height: 35px;
        background-color: rgb(238, 238, 238);
        color: black;
        border: none;
        padding-inline: 10px;
        border-radius: 7px;
      }

      textarea {
        height: 120px;
      }
    }
    .form-recaptcha-container {
      margin-block: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .submit-form-button {
      height: 45px;
      text-align: center;
      background-color: $color4;
      border: none;
      width: 100%;
      border-radius: 10px;
      color: white;
    }
  }
}
