$color1: rgb(243, 220, 242);
$color2: rgb(244, 171, 220);
$color3: rgb(182, 106, 168);
$color4: rgb(161, 18, 127);
$color5: rgb(31, 37, 68);
$color6: rgb(169, 170, 170);
$color7: rgb(71, 72, 72);
$color8: rgb(15, 15, 15);
$color9: rgb(255, 255, 255);
$color10: rgb(237, 129, 0);
// Bootstrap variables
$primary: $color9;
$secondary: $color2;
$info: $color7;
$warning: $color4;
$success: $color1;
$dark: $color8;
$light: $color9;

// SweetAlert
$swal2-confirm-button-background-color: $color4;

