@import "./variables";
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.table-actions-container {
  display: flex;
  gap: 20px;
  align-items: center;
  .action-icon-color {
    color: $color4;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}
