@use "../../../styles/variables" as v;

.page-header {
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    rgb(243, 220, 242),
    rgb(225, 156, 213)
  );
  padding: 40px 0;
  text-transform: uppercase;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding-inline: 40px;
  

  h1 {
    
    font-weight: 400;
    color: black;
    margin: 0;
  }
}
